.popmake-close {position: absolute;top: -25px;right: -25px;}
.qodef-btn.qodef-btn-icon .qodef-btn-text-icon {font-size: 17px!important;}
.qodef-btn-text_new {width: 167px!important; }
.qodef-btn.qodef-btn-icon .qodef-btn-text-icon{width: 41px!important;}
.wpb_wrapper_text .qodef-btn-text-icon {display: none!important;}
.qodef-icon-list-item .qodef-icon-list-text:hover {color: #000000;}
.text_new:hover>div>h2>span {color: #000000!important;}
.title-home-services, .img-home-services {width: 50%; display: table-cell; vertical-align: middle;}
.row-home-services>div {display: table;}
.custom-color-row h5 {margin: 5px !important; font-size: 14px !important;}
.title-home-services{text-align: center;}
.page-services img {height: 80px !important; width: auto !important;}



/*!!!
=========================================================

Custom Styles from Web Style Production (https://wsp24.ru) .wsp24_

=========================================================
!!!*/

.dslc-modules-section {
	padding-top: 20px !important;
	PADDING-BOTTOM: 0!IMPORTANT;
}

body {
	color: #000 !important;
}

.soc img, .soc a:last-child img {
	height: 30px !important;
}

.dslc-modules-section {
}

.qodef-btn span{
	color: #000;
}

.qodef-btn:hover span {
	color: #fff !important;
}



.wsp24_ .qodef-btn.qodef-btn-icon .qodef-btn-text {
	float: none;
}

.wsp24_container-center {
	margin: 0 auto;
}
.wsp24_float-left {
	float: left;
}
.wsp24_width-50 {
	width: 50%;
}
.wsp24_block-with-img > div{
	margin:20px;
	width: calc(100%/2 - 40px);
	float: left;
	height: 175px;
	text-align: center;
}
.wsp24_block-with-img > div:last-child{
	margin: 0 auto;
	float: none;
	clear: both;
	height: 175px;
}
.wsp24_block-with-img img {
	border-radius: 50%;
	width: 150px;
	height: auto;
	max-width: none;
}

.wsp24_block-with-img h4 {
	text-align: center !important;
	color: #000 !important;
}
.wsp24_width-50-b-m {
	width: calc(50% - 36px);
}
.wsp24_width-50-border {
	width: calc(50% - 6px);
}
.wsp24_margin-t-b-35-l-r-15 {
	margin: 35px 15px;
}
.wsp24_margin-t-b-35 {
	margin: 35px auto;
}

.wsp24_padding-t-35-b-15 {
	padding:35px 0 15px;
}

.wsp24_background-f7f7f7 {
	/*background-color: #f7f7f7 !important;*/
}

.wsp24_ {
	color: #000 !important;
}

.wsp24_ p, .wsp24_ .wpb_wrapper_text {
	text-indent: 0;
	line-height: 20px;
}

.wsp24_ p {
	font-size: 13px;
}

.wsp24_title-page h1 span span {
	font-size: 20px;
	color: #fff !important;
	position: relative;
	top:-50px;
}

.wsp24_ h2 {
	font-size: 17px !important;
	font-weight: bold !important;
	color: #000 !important;
}
.wsp24_ h2 span {
	color: #000 !important;
}

.wsp24_wrapper p {
	font-size: 14px;
}
.wsp24_ li, .wsp24-tableSEO{
	margin-bottom: 0px!important;
	text-indent: 0!important;
	list-style-position: outside!important;

      font-size: 13px!important;
    font-weight: 400!important;
    font-family: "Open Sans"!important;
    line-height: 22px!important;
}
.wsp24-tableSEO{
	  padding: 10px 0;
    border-bottom: 1px solid #9a9a9a1a;
}
.wsp24_tableSEOBorder{
	margin-bottom: 40px;
}
.wsp24_ td {
	text-align: left;
	font-size: 13px;
	text-indent: 0 !important;
	line-height: 22px !important;
}

.wsp24_ table {
	margin-bottom: 15px;
}

.wsp24_ .wpb_wrapper p {
	text-align: justify;
}
.wsp24_border {
	/*border-radius: 1px;
	border: 3px solid #ebebeb;*/
}
.wsp24_title-page h1 span{
	font-size: 40px;
}

.wsp24_content-padding-top {
	padding-top: 20px !important;
}
.wsp24_price{
    font-size: 20px !important;
    font-weight: 700;
    text-align: center !important;
    color: #000000;
    margin-top: 106px;
}
.wsp24_height{
	    min-height: 400px;
}

#dslc-module-9187e509c0b {
	text-align: center;
}
#dslc-module-9187e509c0b > div > div img{
	width: 300px;
	height: auto!important;
}

#dslc-module-e3e4c465035 > div > div img{
	width: 250px !important;
	height: auto!important;
}

 #dslc-module-9187e509c0b .dslc-image img {
    /*width:300px!important;*/
}

@media (max-width: 1399px) and (min-width: 1201px) {
.wsp24_height-200 {
	height: 200px !important;
	min-height: 10px !important;
}
  
@media (max-width: 991px) {
	.wsp24_block-with-img img {
		width: 100%;
	}
	.wsp24_title-page.qodef-title.qodef-has-background {
		height: 75px !important;
	}
	.wsp24_title-page img, .wsp24_title-page .qodef-title-image {
		height: inherit;
	}
	.wsp24_title-page h1 span{
		font-size: 30px !important;
	}
	.wsp24_ .qodef-icon-list-text {
		font-size: 16px !important;
	}

	.wsp24_ .qodef-content-aligment-left {
		padding-top: 5px !important;
		padding-bottom: 5px !important;
	}

	.wsp24_ h4 {
		font-size: 15px !important;
	}

}

@media (max-width: 767px) {
	/*.wsp24_tableSEOBorder{
		display: none;
	}*/
		.wsp24_price {
		margin-top: 20px;
	}
	.wsp24_width-50 {
		width: 100%;
	}
	.wsp24_width-50-b-m {
		width: calc(100% - 36px);
	}

 .wsp24_btnLEAd a.qodef-btn.qodef-btn-small.qodef-btn-solid.qodef-btn-icon.qodef-btn-text_new{
   left: 50%!important;
}
}

