.popmake-close {position: absolute;top: -25px;right: -25px;}
.qodef-btn.qodef-btn-icon .qodef-btn-text-icon {font-size: 17px!important;}
.qodef-btn-text_new {width: 167px!important; }
.qodef-btn.qodef-btn-icon .qodef-btn-text-icon{width: 41px!important;}
.wpb_wrapper_text .qodef-btn-text-icon {display: none!important;}
.qodef-icon-list-item .qodef-icon-list-text:hover {color: #000000;}
.text_new:hover>div>h2>span {color: #000000!important;}
.title-home-services, .img-home-services {width: 50%; display: table-cell; vertical-align: middle;}
.row-home-services>div {display: table;}
.custom-color-row h5 {margin: 5px !important; font-size: 14px !important;}
.title-home-services{text-align: center;}
.page-services img {height: 80px !important; width: auto !important;}

.qodef-content-inner div:first-child{ height: 200px!important; }